<html>
    <head>
        <title>Slack invite</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <style type="text/css">
            body {
                background-color: #486d46;
                background-image: url("/static/bg.jpg");
                background-size: cover;
                background-attachment: fixed;
                background-position: center center;
            },
        </style>
    </head>
    <body>
        <br><br><br>
        <div class='container'>
            <div class='jumbotron'>
            <h2>{{ data.team_name }} invitation form</h2><br>
            {% if flag %}
            <div class="alert alert-danger" role="alert">
                {{ data.err_msg }}
            </div>
            {% endif %}
            <form action='/post' method='post'>
                <label>Email: </label>
                {{ form.email() }}
                <button type='submit' class="btn btn-primary btn-sm">送信する</button>
            </form>
        </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>
